* {
    padding: 0;
    margin: 0;
}

body {
    color: rgb(74, 74, 74);
    font-family: 'Nunito Sans', sans-serif;
}

.content {
    position: relative;
    display: inline-block;
    padding-top: 103px;
}

.logo {
    width: 23vw;
    display: block;
    position: absolute;
    right: 0;
    top: 0.9%;
}

.info {
    background-color: #f0efef;
    padding: 5%;
}

.italic, .regular {
    margin-bottom: 3%;
    font-size: 2vw;
}

.headline {
    margin-bottom: 5%;
    font-size: 2.3vw;   
} 

.italic {
    width: 65%;
    font-style: italic;
}

.offer {
    margin-left: 30px;
}

.image {
    margin-bottom: 2%;
}

.banner {
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #f0efef;
    margin-bottom: 5%;
}

.item {
    flex-grow: 1;
}

.txt-1, .txt-2, .txt-3, .txt-4, .txt-5, .txt-6, .txt-7, .txt-8 {
    flex-basis: 50%;
    font-size: 2vw;
    padding: 4%;
}

.img-1, .img-2, .img-3, .img-4, .img-5, .img-6, .img-7, .img-8 {
    width: 100%;
    flex-basis: 37%;
    background-color: #ffffff;
    padding: 0 17px 17px 0;
}

.img-8 {
    padding: 0 17px 0 0;
}

.pic {
    display: block;
    width: 100%;
    object-fit: cover;
}

.tit {
    font-weight: 900;
    margin-bottom: 2%;
}

.table-options, table {
    width: 100%;
    margin-bottom: 5%;
}

table {
    border-collapse:collapse;
    font-size: 2vw;
}

td {
    border: #c0c0c0 solid 0.5px ;
    height: 35px;
    padding: 0 2vw;
}

.first-col {
    width: 40%;
    background-color: #f0efef;
}

@media (max-width: 594px) {
    .logo {
        width: 23vw;
        display: block;
        position: absolute;
        right: 0;
        top: 1.1%;
    }
    .italic, .regular {
        margin-bottom: 3%;
        font-size: 3.5vw;
    }
    .italic {
        width:85%;
    }
    .img-1, .img-2, .img-3, .img-4, .img-5, .img-6, .img-7, .img-8 {
        flex-basis: 45%;
        padding: 0;
    }
    .txt-1, .txt-2, .txt-3, .txt-4, .txt-5, .txt-6, .txt-7, .txt-8 {
        font-size: 3.5vw;
        padding: 4%;
    }
    table {
        font-size: 3vw;
    }
}

  